

body{
  /* background-color:#0c111b; */
  overflow-y: visible;
}

.vedio-row{
  display: flex;
  overflow-y: visible;
  overflow-x: scroll;
}

.vedio-row::-webkit-scrollbar{
  display:flex;
}

.span{
  margin: 40px ;
  font-weight: 500;
  font-size:20px;
  color: #fff;
  cursor: pointer;
}
.watch{
  margin-top:10px;
}

.show{
  display:block;
  transition:800ms;
  opacity: 1;
}
.show.active{
  transform: translatey(100px) scale(0) rotate(180deg);
  opacity: 0;
}