
@tailwind base;
@tailwind components;
@tailwind utilities;



.header-left{
    visibility: visible;
    z-index: 1000;    
}

.header-left >h3{
    color: whitesmoke;
}

.header-left > span{
    padding: 20px 15px 20px;
}

.header-right{
    padding: 20px 15px 20px;
}

.search > ::placeholder{
    color: white !important;
    
}

.header-right > span{
    padding:20px 15px 20px;
    cursor: pointer;
    font-size: 16px;
    color: #ffffffcc;
    font-weight: 500;
}

.header-right > button{
    background-color:#1f80e0;
    color: #fff;
}

span:hover{
    color: #1f80e0;
    transition: 0.5s;
}

/* Dropdown */

#categories:hover {
    color: #fff;
}



#menu ul li a {
    float:left;
    padding:20px;
    color:#ffffffcc;
    text-decoration:none;
    
    
}
#menu ul ul li a:hover {
    background:#111622;
    
}
#menu ul ul {
    position:absolute;
    top:50px;
    border-radius: 4px;
    /* BACKGROUND COLOR AND BORDER. */
    background:#192133;
    /* ADD BORDER SHADOW. */
    box-shadow:0 4px 5px 0 rgb(0 0 0 / 22%);    
}

#menu ul li a:hover{
    color: #fff;
} 

/* SUB MENU LIST */
#menu ul ul li {
    text-align:left; 
    margin:0;
}



/* SET HEIGHT AS '0', SO THE SUBMENUS REMAINS HIDDEN IN THE BEGINNING. */

#categories ul li a {
    /* height:0;  */
    line-height:0; 
    width:115px; 
    font-size: 14px;
    font-weight:400;
    color:#FFF;
    padding:0 15px;
    -moz-opacity: 0;
    opacity:0;
    filter: alpha(opacity=0);
    
}



#categories:hover ul  {
    animation: Slide_Up .5s ease-in;
    /* left: -370px; */
    /* transform:translateX(-232px); */
}
@keyframes Slide_Up{
    0%{
        transform:translateY(10%) ;
        /* left: 200px; */
        
        
    }
    30%{
        transform:translateY(0);
    }
}
#categories:hover ul li a {
    height:40px;
    line-height:40px;
    -moz-opacity: 1;
    opacity:1;
    filter: alpha(opacity=100);
  
}

.movies ul{
    left: -330px;
    width: 100px;
}
.movies ul li a{
    max-width:60px;
    
}
.sports ul{
    left: -240px;
}

@media only screen and (max-width: 1024px) {
    #menu ul{
        display: none;
    }
  }

  @media only screen and (max-width: 768px) {
    .header-right .search{
        width: 150px;
    }
  }
  @media only screen and (max-width: 523px) {
    .header-right .search{
        width: 100px;
    }
  }
  @media only screen and (max-width: 469px) {
    .header-right span{
        display: none;
    }
  }
  @media only screen and (max-width: 399px) {
    .header-right button{
        display: none;
    }
  }


/* Hamburger dropdown */
.dropbtn {
    color: white;
    margin-top: 6px;
    font-size: 16px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* top:30px; */
    left: -20px;
    border-radius: 4px;
    /* BACKGROUND COLOR AND BORDER. */
    background:#192133;
    /* ADD BORDER SHADOW. */
    box-shadow:0 4px 5px 0 rgb(0 0 0 / 22%);
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
  }

  @keyframes growDown{
    0% {
        transform: scaleY(0)
      }
      80% {
        transform: scaleY(1.1)
      }
      100% {
        transform: scaleY(1)
      }
    
}
  
  
  .dropdown-content a {
    color: #ffffffcc;
    padding: 12px 16px;    
  }

  .dropdown-content a:hover {
      color: #ffffff;
      
  }
  
  .dropdown-content a:hover {background:#111622;
}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  




