

.screen {		
	background: linear-gradient(90deg, #121926, #111622);		
	box-shadow: 0px 0px 24px #111622;
}

.screen__content {
	height: 100%;
}

.screen__background {		
	-webkit-clip-path: inset(0 0 0 0);
	clip-path: inset(0 0 0 0);	
}

.screen__background__shape {
	transform: rotate(45deg);
}

.screen__background__shape1 {
	height: 520px;
	width: 520px;
	background: #FFF;	
	top: -50px;
	right: 120px;	
	border-radius: 0 72px 0 0;
}

.screen__background__shape2 {
	height: 220px;
	width: 220px;
	background: #333842;	
	top: -172px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape3 {
	height: 540px;
	width: 190px;
	background: linear-gradient(270deg, #1a1d22, #333842);
	top: -24px;
	right: 0;	
	border-radius: 32px;
}

.screen__background__shape4 {
	height: 400px;
	width: 200px;
	background: #333842;	
	top: 420px;
	right: 50px;	
	border-radius: 60px;
}

.register {
	width: 320px;
	padding: 30px;
	padding-top: 15px;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #121926;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 5px;
	padding-left: 24px;
	font-weight: 700;
	width: 110%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #121926;
}

.login__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #121926;
	box-shadow: 0px 2px 2px #282f3b;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #262e3b;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #121926;
}

.social {	
	position: absolute;
	height: 140px;
	width: 160px;
	text-align: center;
	bottom: 20px;
	right: 0px;
	color: #fff;
}

.social-icons {
	display: flex;
	align-items: center;
	justify-content: center;
}

.social-login__icon {
	padding: 20px 10px;
	color: #fff;
	text-decoration: none;	
	text-shadow: 0px 0px 8px #121926;
}

.social-login__icon:hover {
	transform: scale(1.5);	
}


span.MuiButton-label {
    color: #ffffff;
	
}

span.MuiButton-label :hover {
	color: #c9d3e6;
}

.create{
	color: #121926;
	font-weight: 500;
	margin-left: 15px;
	cursor: pointer;
}