 
 
 .rec-item-wrapper > img{
    width: 150px;
    border-radius: 5px;
    margin-left:2px;
    border-bottom: 4px solid #1f80e0;
    
}
.rec-item-wrapper{
    margin: 5px;
    border-radius: 5px;
    transition:transform .2s ease-out;
    cursor: pointer;
}

.rec-item-wrapper:hover {
    border-radius: 5px;
    transform: scale(1.2);
}









